<div class="heroe-detalle" *ngIf="heroeSeleccionado != undefined">
    <h2 class="detalle-titulo">Detalles</h2>
    <label for="heroeTitulo">Nombre:</label>
    <input id="heroeTitulo" class= "card-input" type="text" placeholder="Editar Nombre" [(ngModel)]="heroeSeleccionado.nombre">
    <label for="heroeImg">Imagen:</label>
    <input id="heroeTitulo" class= "card-input" type="text" placeholder="Url de la img" [(ngModel)]="heroeSeleccionado.imagen">
    <label for="heroeDescripcion">Descripción:</label>
    <textarea name="heroeDescripcion" id="heroeDescripcion" cols="30" rows="10" [(ngModel)]="heroeSeleccionado.descripcion"></textarea>
    <button class="button-regresar" (click)="editar(heroeSeleccionado)">Editar</button>
</div>
